.tracklisting {
    font-size: 10px;
    padding-top: 10px;
}
.tracklisting ul {
    list-style-type: none;
}
.tracklisting ul li {
    display: block;
    line-height: 30px;
}
.tracklisting button {
    line-height: 1;
}